<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>

<div class="container">
    <h4>Current Projects</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Project Stage</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td th:text="${project.name}"></td>
            <td th:text="${project.stage}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <h4>Employees</h4>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>

<nav th:insert="layouts :: footer"></nav>
</html>
